<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/draft.css">
    <title>Mikesreallycoolwebpage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
        <script src="../js/app.js"></script>
        <script src="../js/MainController.js"></script>


</head>

<body ng-app="myApp">
    <main>
        <header>Hello, world</header>
        <article>
            <p> Below is noise</p>
            <div ng-controller="MainController">


                <div id="cardArea" ng-repeat="card in cardOptions">
                    <p>Name : {{card.name}}</p>
                    <img ng-src="{{card.imgSrc}}"/>
                    <button id="selectCard" ng-click="selectCard(card)">Select</button>
                </div>

            <div id="deckArea">


                <table class="tg">
                    <tr>
                        <th class="tg-yw4l">Card</th>
                        <th class="tg-yw4l">Quantity</th>
                    </tr>
                    <tr>
                        <td class="tg-yw4l">aoei</td>
                        <td class="tg-yw4l">aoei</td>
                    </tr>
                    <tr ng-repeat="card in deckList">
                        <td class="tg-yw4l">{{card.name}}</td>
                        <td class="tg-yw4l">{{card.quantity}}</td>
                    </tr>
                </table>
            </div>
            </div>

        </article>
        <aside id="extraLinks"></aside>
        <aside id="sponsor"></aside>
        <footer></footer>
    </main>
</body>
</html>
