<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/draft.css">
    <title>Mikesreallycoolwebpage</title>
    <script src="../lib/angular/angular.js"></script>
    <script src="../lib/forerunnerdb/js/dist/fdb-all.min.js"></script>
    <script src="../lib/jquery/dist/jquery.min.js"></script>
    <script src="../js/app.js"></script>
    <script src="../js/config.js"></script>
    <script src="../js/cards.js"></script>
    <script src="../js/MainController.js"></script>

</head>

<body ng-app="anrLimited">
    <main>
        <article>
            <div ng-controller="MainController" id="controller">
                <br />
                <br />

                <button id="draftRunnerBtn" ng-click="newRunnerIDs(3)">Draft Runner</button>
                <button id="draftCorpBtn" ng-click="newCorpIDs(3)">Draft Corp</button>
                <button id="styleBtn" ng-click= "setSideboard()">Style</button>
                <br />

                <div id="batchArea">

                    <div id ="{{card.code}}" class="cardAreas" ng-style="{'visibility': cardAreasVisibility}" ng-repeat="card in currentCardBatch track by $index">
                        <p>Name : {{card.title}}</p>
                        <img ng-src="{{'https://netrunnerdb.com/' + card.imagesrc}}"/>
                        <button id="selectCard" ng-click="selectCard(card)">Select</button>
                    </div>

                </div>
                <br />


                <div id="bottomThird">   

                    <div id="deckArea">
                        <h2>Deck</h2>
                    <table id="deckTable">
                        <tr>
                            <th class="tg-yw4l">Card</th>
                            <th class="tg-yw4l">Quantity</th>
                            <th class="tg-yw4l">Type</th>
                            <th class="tg-yw4l">Move to SB</th>
                            
                        </tr>
                        <tr ng-repeat="card in deckList track by $index">
                            <td class="tg-yw4l">{{card.title}}</td>
                            <td class="tg-yw4l">{{card.quantity}}</td>
                            <td class="tg-yw4l">{{card.type}}</td>
                            <td class="tg-yw4l"><button ng-click="moveToSideboard(card)">Move</button></td>
                        </tr>
                    </table>
                    </div>


                    <div id="sideboardArea">
                        <h2>sideboard</h2>
                    <table id="sideboardTable">
                        <tr>
                            <th class="tg-yw4l">Card</th>
                            <th class="tg-yw4l">Quantity</th>
                            <th class="tg-yw4l">Move to SB</th>
                        </tr>
                        <tr ng-repeat="card in sideboard track by $index">
                            <td>{{card.title}}</td>
                            <td>{{card.SBCount}}</td>
                            <td class="tg-yw4l"><button ng-click="moveToDeck(card)">Move</button></td>
                        </tr>
                    </table>
                    </div>

                </div>


            </div>

        </article>
        <aside id="extraLinks"></aside>
        <aside id="sponsor"></aside>
        <footer></footer>
    </main>
</body>
</html>
