<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="ng.js"></script>

</head>
<body ng-app ="myApp">
    <div ng-controller="MyController">

        {{theData}}

    <form name="theForm">
        <input type="search" ng-model="theData" />
        <input type="submit" value= "Search" ng-click="updateResult(theData)"/>
    </form>

        {{result}}

    </div>
</body>
</html>