#bottomThird
{
}

#batchArea
{
    margin-left: 27%;
    height: 500px;


}

.cardAreas
{
    width : 300px;
    background-color : green;
      font-size: 1.5em;
  border-style : solid;
  border-color : Black;
  border-width : thick;
  padding : 10px;
  margin : 5px;
  float : left;

}

#selectCard
{
    font-size : large;
    display : block;
    margin-left: auto;
    margin-right: auto;
}




button{
    clear : both;
    font-size : large;
    margin: 5px;
    
}

table, th, td
{
 border : 2px solid black;
 font-size: xx-large;

}

table
{

}


#deckArea
{
     margin-left : 40px;
     clear:left;
     float: left;
}

#sideboardArea
{
     margin-left : 1000px;
     float: left;
}